/* .region.bottom.left {
        width: 700px;
} */

.table{
    width: 500px;
}

.tbody{
    width: 500px;
}

.namecellMensa{
    padding-right: 5px;
    width: 150px;
    text-align: left;
    display: table-cell;
}

.valuecellMensa{
    padding-left: 3px;
    width: 320px;
    text-align: left;
    display: table-cell;
}