/* .region.bottom.left {
	width: 700px;
} */

.table{
    width: 600px;
}

.tbody{
    width: 600px;
}

.namecellMensa{

    padding-right: 5px;
    width: 150px;
    text-align: left;
    display: table-cell;
}

.valuecellMensa{
    padding-left: 3px;
    width: 750px;
    text-align: left;
    display: table-cell;
}

.xsmallMensa {
  font-size: 15px;
  line-height: 17px;
  font-weight: 900;
}

